@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "vhs";
  src: url("./fonts/VCR_OSD_MONO.ttf");
}

:root {
  font-family: "vhs", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
  background: #2e2e2e;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #1e1e1e;
  border-radius: 2px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #686868;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888888;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
}
